/* Color theme from https://coolors.co/40f99b-61707d-b8e1ff-e85d75-ffcf56 */
:root {
  --medium-spring-green: #40f99bff;
  --dark-electric-blue: #61707dff;
  --uranian-blue: #b8e1ffff;
  --brink-pink: #e85d75ff;
  --maize-crayola: #ffcf56ff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  /* Box shadow styling from Bulma.io */
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 1em;
  background-color: var(--maize-crayola);
}

.main__wrapper {
  background-color: grey;
  height: 100%;
  padding: 1em;
}

main {
  max-width: 50em;
  height: 100%;
  margin: auto;
  /* border: solid white 1px; */
}

#todoList {
  /* margin: 2em; */
}

#todoList > div {
  margin: 1em 0;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}

.cardInfo {
  width: 100%;
}

.cardActions {
}

.todoStatus__default {
  width: 1em;
  background-color: red;
}
.todoStatus__complete {
  width: 1em;
  background-color: blue;
}

footer {
  background-color: var(--maize-crayola);
  padding: 1em;
  text-align: center;
}
