/* Color theme from https://coolors.co/40f99b-61707d-b8e1ff-e85d75-ffcf56 */
:root {
  --medium-spring-green: #40f99bff;
  --dark-electric-blue: rgb(69, 85, 99);
  --uranian-blue: #b8e1ffff;
  --brink-pink: rgb(255, 4, 4);
  --maize-crayola: #ffcf56ff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  /* Box shadow styling from Bulma.io */
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 1em;
  background-color: var(--maize-crayola);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

#RESET {
  display: unset;
}

.main__wrapper {
  background-color: grey;
  height: 100%;
  padding: 1em;
}

main {
  max-width: 50em;
  height: 100%;
  margin: auto;
  /* border: solid white 1px; */
}

.createTodo {
  background-color: var(--dark-electric-blue);
  border-radius: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.inputs {
  display: flex;
  height: 100%;
  gap: 12px;
}
#todoTitle {
  padding: 0.5em;
}

#todoList > div {
  margin: 1em 0;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}

.card-content {
  width: 100%;
}
.content > h3,
.content > p {
  pointer-events: none;
}

.delTodoButton {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--dark-electric-blue);
  font-size: 1.25em;
  margin-right: 1em;
}
.delTodoButton:hover {
  color: var(--maize-crayola);
}

.TodoCount {
  text-align: center;
  color: var(--maize-crayola);
}

.todoStatus__default {
  width: 3em;
  background-color: var(--dark-electric-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoStatus__complete {
  width: 3em;
  background-color: var(--dark-electric-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoStatus__complete:hover,
.todoStatus__default:hover {
  border: solid 1px white;
}

.fa-check {
  color: var(--medium-spring-green);
  font-size: 1.5em;
}
.fa-circle {
  color: var(--brink-pink);
  font-size: 1.5em;
}

footer {
  background-color: var(--maize-crayola);
  padding: 1em;
  text-align: center;
}

.formCategories {
  display: flex;
}

.categoriesWrapper {
  border: solid grey 0.5px;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em;
  min-height: 5.5em;
}

.card {
  display: flex;
}

.card-content {
  display: flex;
  width: 100%;
  padding: 0;

  pointer-events: none;
}

.content {
  width: 100%;
}
.cardFooter {
  display: flex;
}

.cardFooter > button {
  margin: 0;
  width: 3em;
}

.cardFooter > div {
}

i {
  pointer-events: none;
}

.CategoryList {
  display: flex;
  gap: 1rem;
}
.CategoryList > li {
  display: flex;
  align-items: center;
}
.tag {
  padding: 1rem;
}
